*{
  font-size: small;
}
.cart-counter {
  position: absolute;
  top: -30%;
  right: 55%;
  background: orange;
  color: white;
  border-radius: 50%;
  padding: 0.5px 5px;
  font-size: 10px;
}

.cart-icon{
  margin-right: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

.cart-modal-container{
    margin-top: 5rem;
    height: auto;
}

.cart-modal-dialog {
    max-height: 100vh;
    margin: 0;
}

.cart-modal-header{
  background-color: black;
  color: white;
}

.cart-modal-body{
    max-height: 400px;
    overflow-y: auto;
    background-color: #F4F2F2;
}

.cart-modal-footer{
  background-color: #F4F2F2;
  color: white;
}
