.cart-items {
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1rem;
    border-bottom: 1px gray dotted;
    padding:1rem;
    grid-template-columns: auto 1fr auto;
  }

  .cart-items > img {
    height: 10rem;
    width: 10rem;
  }
  
  .cart-total {
    text-align:center;
  }

  .cart-content {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
  }
  
  .cart-items {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content:flex-start
  }

  .price{
    margin-bottom: 40px;
  }
  
  .remove-button {
    border: 1px dotted gray;
    border-radius: 15%;
    background: none;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .remove-button:hover {
    color: #d00; 
  }
  
  .empty-cart-message{
    margin-top:20px;
  }