.cart-content {
  display: grid;
  gap: 20px;
}

.cart-items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.less-button,
.plus-button {
  border: 2px dotted gray;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  color: black;
  justify-content: center;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
}

.remove-button {
  border: 1px dotted gray;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.remove-button:hover {
  color: #d00;
}

.cart-total {
  text-align: center;
}

.empty-cart-message {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cart-items {
    grid-template-columns: 1fr; 
  }

  .cart-items > img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .product-details {
    text-align: center; 
  }

  .price {
    margin-top: 20px; 
  }

  .quantity-controls {
    display: flex;
    justify-content: space-evenly; 
  }

  .cart-total {
    margin-top: 20px;
  }
}
