*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    width: 100vw;
    /* position: fixed; */
    z-index: 10;
    /* height: auto; */
    padding: 0 30px;
}

.general-logo{
    max-width: 15vh;
    margin: 1em;
}

.group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-icon{
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.close-icon{
    width: 60px;
}

.dropdown-menu {
    position:fixed;
    background-color: white;
}

.navigation{
    margin: 0;
    display: flex;
}

.navigation ul li a {
    justify-content: center;
}


.group ul{
    flex-direction: row;
    gap: 40px;  
    height: 80px;
}

.group ul li{
    list-style: none;
    justify-content: flex-start;
}

.group ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    /* color: #333; */
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.group ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.group  ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

header .searchBox{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 80px;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active{
    position: absolute;
    right: 0;
    top: 0;
}

.searchBox.active input {
    width: 100%;
    box-sizing: border-box; 
}

.searchBox input{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #333;
    font-size: 1em;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
    
.search-icon{
    position: relative;
    margin: 10px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    width: 1.4em;
    height: 1.4em;
}

.search-product-icon{
    width: 1.4em;
    height: 1.4em;
    margin: 1.2em;
    display: flex;
}

.search-icon.active{
    left: 0;
}
    
.close-icon{
    width: 20px;
    height: 20px;
}

.dropdown-search{
    display: flex;
    position: absolute;
    border-radius: 5px;
    top: 4rem;
    width: 100%;
    background-color: white;
    z-index: 15;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;

}

.dropdown-search:empty{
    border: none;
}

.dropdown-search-row{
    cursor: pointer;
    text-align: start;
    padding: 2px;
    margin-left: 10px;
}

.dropdown-search-img{
    margin-left: 2rem;
    max-width: 4.5rem;
    margin: 1em;
}

.search-product-line{
    width: 100%;
}

.user-dropdown .dropdown-toggle::after{
    display: none;
}

.user-dropdown .user-dropdown-menu {
    position: absolute;
    top: 50px;
    z-index: 16;
}

.user-icon{
    cursor: pointer;
    color:white;
    font-size: 1.2rem;
}

.login{
    display: flex;
}

.right-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

/* .menu-toggle {
    display: none;
} */

@media screen and (max-width: 768px) {
    .menu-toggle.visible {
        color: white;
    }

    .menu-toggle{
        color: white;
    }

    .navigation-tabs ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: black;
        height: 185px;
        z-index: 20;
        color: white;
      }

    .group ul{
        gap: 20px;  
    }
}

